.cblanca{
    color:white !important;
}
#ajuste{
    width: 100%;
}

#ajuste_letra{
    font-size: 14px;
}

.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }
a:link.btn{
	text-decoration: none;
}
.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}
#nombre_empc{
    font-size: 1.5em;
    font-weight: bold;
    padding-right: 1em;
}

.smallstat {
    background: none repeat scroll 0% 0% #FFF;
    padding: 10px;
    position: relative;
    text-align: right;
    margin-left: 35% !important;
}
.smallstat .more {
    background: none repeat scroll 0% 0% #E9EBEC;
    border-top: 1px solid #DBDEE0;
    margin: 12px -10px -10px;
    padding: 5px 10px;
    display: block;
    font-size: 12px;
    text-align: left;
    height: 30px;
}
.smallstat .title {
    top: 12px;
    color: #B2B8BD;
    display: block;
    font-size: 12px;
    margin-top: 4px;
    font-weight: bold;
}
.smallstat .value {
    font-size: 20px;
}
.smallstat {
    text-align: right;
    width: 400px;
}
.box{
	border:1px solid #dbdee0;
	margin:0 0 30px 0
}

.box.noOverflow{
	overflow:hidden
}

.box .box-header{
	background:white;
	color:#34383c;
	font-size:16px;
	overflow:hidden;
	background:#f7f7f8;
	border-bottom:1px solid #dbdee0;
	height:40px
}

.box .box-header h2{
	float:left;
	padding:10px 0;
	margin:0 0 0 20px
}

.box .box-header h2 i{
	border-right:1px solid #dbdee0;
	color:#ced1d4;
	padding:12px 0;
	height:40px;
	width:40px;
	display:inline-block;
	text-align:center;
	margin:-10px 20px -10px -20px;
	font-size:16px
}

.box .box-header .box-icon{
	float:right
}

.box .box-header .box-icon i{
	display:inline-block;
	color:#ced1d4;
	text-align:center;
	height:40px;
	width:40px;
	padding:12px 0;
	-webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out;
	border-left:1px solid #ced1d4;
	text-decoration:none
}

.box .box-header .box-icon a{
	margin-left:-3px!important
}

.box .box-content{
	padding:10px;
	background:white
}

.box .box-content.no-padding{
	background:white;
	padding:1px 0
}
