.list-group{
    font-size: 8px;
}


.texto_contactos{
color:#006600;
font-size: 1.5em;
}    

.texto_oportunidad{
color:#990000 ;
font-size: 1.5em;
}

.texto_cuentas{
color:#E57417 ;
font-size: 1.5em;
} 

.line{
    text-decoration: none !important;
}

.well{
    background-color: rgb(70, 182, 232);
}

.glyphicon {
  position: relative;
  top: 0px;
}  