/*********************************************************************************
 * SugarCRM Community Edition is a customer relationship management program developed by
 * SugarCRM, Inc. Copyright (C) 2004-2013 SugarCRM Inc.
 * 
 * This program is free software; you can redistribute it and/or modify it under
 * the terms of the GNU Affero General Public License version 3 as published by the
 * Free Software Foundation with the addition of the following permission added
 * to Section 15 as permitted in Section 7(a): FOR ANY PART OF THE COVERED WORK
 * IN WHICH THE COPYRIGHT IS OWNED BY SUGARCRM, SUGARCRM DISCLAIMS THE WARRANTY
 * OF NON INFRINGEMENT OF THIRD PARTY RIGHTS.
 * 
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
 * details.
 * 
 * You should have received a copy of the GNU Affero General Public License along with
 * this program; if not, see http://www.gnu.org/licenses or write to the Free
 * Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
 * 02110-1301 USA.
 * 
 * You can contact SugarCRM, Inc. headquarters at 10050 North Wolfe Road,
 * SW2-130, Cupertino, CA 95014, USA. or at email address contact@sugarcrm.com.
 * 
 * The interactive user interfaces in modified source and object code versions
 * of this program must display Appropriate Legal Notices, as required under
 * Section 5 of the GNU Affero General Public License version 3.
 * 
 * In accordance with Section 7(b) of the GNU Affero General Public License version 3,
 * these Appropriate Legal Notices must retain the display of the "Powered by
 * SugarCRM" logo. If the display of the logo is not reasonably feasible for
 * technical reasons, the Appropriate Legal Notices must display the words
 * "Powered by SugarCRM".
 ********************************************************************************/

 .body { 
	font-size: 12px;
}
	
.buttonLogin {
	border: 1px solid #444444;
	font-size: 11px;
	color: #ffffff;
	background-color: #666666;
	font-weight: bold;
}
	
table.tabForm td {
    border: none;
}
	
p {
	MARGIN-TOP: 0px;
	MARGIN-BOTTOM: 10px;
}
	
form {
	margin: 0px;
}

input[type="text"], input[type="password"], textarea {
	width: 200px !important;
}

#recaptcha_image {
    height: 47.5px !important;
    width: 250px !important;
}

#recaptcha_image img {
    height: 47.5px;
    width: 250px;
} 	

.loginBox {
	border: 1px solid #abc3d7; 
	padding: 20px;	
        border-radius: 10px 5px 0px 0px;
        /* box-shadow */
        -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
        -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
        box-shadow: rgba(0,0,0,0.8) 0 0 10px;
        background-color: #fff;
            

}

.password {
	padding: 5px 20px 5px 20px;
	//border: 1px solid #999;
	border-top: 0px none;
	background-color: #fff;
        border-radius: 0px 0px 10px 5px;
        /* box-shadow */
        -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
        -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
        box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}

.password .login_more div:first-child {
	text-align: right;
}

.password a { 
	text-decoration: none;
}

.password a img {
	margin-right: 5px;
}	

#forgot_password_dialog table {
	margin-top: 10px;	
}

.dashletPanelMenu .bd .bd-center {
	padding-top: 0px;
}

